/* main.css */
@import "./base.css";

/* UI Components */
@import "./components/header.css";
@import "./components/footer.css";
@import "./components/newsletter.css";
@import "./components/toast.css";
@import "./components/lazy-loading.css";
@import "./components/products.css";
@import "./components/responsive.css";
@import "./components/breadcrumb.css";

/* Pages */
@import "pages/home-sections.css";
@import "pages/contact.css";
@import "pages/about.css";
@import "pages/products.css";
@import "pages/blog.css";
