:root {
    --primary: #f6244e;
    --light: #fee1e4;
    --text: #444444;
    --text-2: #288ad6;
    --text-3: #dd2f2c;
    --border: #f0f0f0;
    --black: #000;
    --white: #fff;
    --bg-color: #f5f5f5;
}
* {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
    letter-spacing: 0;
    font-weight: 400;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.mb-5 {
    margin-bottom: 36px;
}

.grid-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.grid__col-2-4 {
    max-width: 20%;
    flex: 0 0 20%;
    padding: 0 15px;
}

.grid__col-3 {
    max-width: 25%;
    flex: 0 0 25%;
    padding: 0 15px;
}

.grid__col-4 {
    width: 33.3333%;
    padding: 0 5px;
}

.grid__col-6 {
    width: 50%;
    padding: 0 5px;
}

.grid__col-9 {
    width: 75%;
    padding: 0 15px;
}

.dropdown-menu {
    width: 100%;
    border-radius: 4px;
}

.dropdown-item {
    padding: 8px 16px;
    font-size: 14px;
    color: var(--text);
    font-weight: 600;
    text-decoration: none;
    transition:
        color 120ms ease,
        background 120ms ease;
}
.dropdown-item:hover {
    color: var(--text) !important;
    background: var(--light) !important;
}

/* Animation */
@keyframes notify-growth {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes popIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    80% {
        transform: scale(1.05);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fadeHero {
    from {
        opacity: 0.7;
    }
    to {
        opacity: 1;
    }
}
