/* base.css */
@import "bootstrap/dist/css/bootstrap.min.css";

:root {
    --primary-gradient: linear-gradient(90deg, #e91e63 -13%, #f44336 100%);
    --primary: #f6244e;
    --light: #fff7f9;
    --text: #444444;
    --black: #111111;
    --white: #fff;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", Arial, sans-serif;
}

body {
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--text);
}

/* Animations */
@keyframes notify-growth {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes zoomIn {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes popIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    80% {
        transform: scale(1.05);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}
@keyframes fadeHero {
    from {
        opacity: 0.7;
    }
    to {
        opacity: 1;
    }
}
